.visit-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.visit-main-section .retriever-dog {
    width: 30vw;
    margin: 2rem;
    height: auto;
    max-width: 300px;
}

.icon-section {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.75;
    width: 150px;
    height: 200px;
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .visit-main-section {
    flex-direction: column;
    justify-content: center;
}
}

.discover-main-section .retriever-dog {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
}



